#Application
PORT=
 
#Database
DATABASE_URL=
# mysql://<usuario>:<senha>@localhost:3306/gestor_tg


#Auth
JWT_LIFETIME=1800000 #30 minutos
JWT_SECRET=
COOKIE_SECRET=
CREATE_ADMIN_KEY=


### COMANDOS PRA SUBIR PRISMA
#npx prisma migrate dev --name init      #cria a primeira migração
#npx prisma generate                     #gera os arquivos prisma
#npx prisma db push                      #envia as migrações pro banco